<h1>Editing governing</h1>

<%= render "form", governing: @governing %>

<br>

<div>
  <%= link_to "Show this governing", @governing %> |
  <%= link_to "Back to governings", governings_path %>
</div>
